@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background-color:white; 
    font-family: Raleway, sans-serif;
    color:white;
}

header {
    position:fixed;
    width:99vw;
    top:0px;
    background-color:#1A315B;
    text-align:center;
    height:2em;
    z-index:2;
    height:auto;
}

nav {
    position:relative;
    top:63px;
    width:100%;
    display: flex;
    text-align:center;
    justify-content:space-between;
}

nav ul {
    display:flex;
    height:50vh;
    width:50%;
    flex-wrap:wrap;
    justify-content:space-between;
    overflow:auto;
}

nav ul h2 {
    width:100%;
}

nav ul li {
    display:flex;
    width:30vw;
    height:auto;  
    flex-wrap:wrap; 
    padding-top: 10px;
    font-size:20px;
}

.song {
    width:11vw;
    text-align:center;
}

#slow-songs {
    background-color:#4e3e59;
}

#fast-songs {
    background-color:#114d61;
}

button {
    margin-left:2%;
    height:2em;
    font-family:Raleway, sans-serif;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    width: 10px;
}

.firstButton,
#first_iframe {
    color:black;
    background-color:#00BBF9;
}

.secondButton,
#second_iframe {
    color:black;
    background-color:#FEE440;
}

.thirdButton,
#third_iframe {
    color:black;
    background-color:#F15BB5;
}

#video-screen {
    position:fixed;
    display:flex;
    width:100%;
    text-align:center;
    justify-content:center;
    height:35%;
    margin-top:4%;
    background-color:#1A315B;
}

iframe {
    position:relative;
    display:flex;
    margin:1%;
    width:30%;
    height:30vh;    
}



